
.header-menu {
    position: fixed;
    width: 220px;
    right: 40px;
    height: 50px;
    text-align: center;
    font-size: 17.7px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-radius: 0px 0px 25px 0px;
    padding: 0px 10px 0px 10px;
    background: var(--backgroud);
    z-index: 2;
}
.header-menu a {
    color: black;
}

.header-menu a:hover {
    color: black;
}

.login-throw {
    font-size: 15px;
}