
:root {
  --menu-tabs-border: #CCCCCC;
  --backgroud: #f9f9f9;
}

html {
}

.App {
  text-align: center;
  background: var(--backgroud);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display:block;
  overflow: auto;
  height: fit-content;
  user-select: none;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}
.button:active {
  text-decoration: underline;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.display-none {
  display: none;
}

#viewResultMoving {
  width: 625px;
  height: 625px;
  border: 5px solid black;
}
#setOrdersCanvas {
  width: 625px;
  height: 625px;
  border: 5px solid black;
}



.line-break-container {
  flex-flow: row wrap;
  display: flex;
}


.container-text {
  font-size: 19px;
}