.general-container {
    display: block;
    text-align: left;
    min-height: calc(100vh - 55px);
    overflow: auto;
    padding: 35px;
}


.home-title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,0.70);
    margin-top: 50px; 
}

.line {
    border-top: solid 2px #000;
}